.navbar {
  position: fixed;
  top: 14px;

  &.active {
    display: none;
  }

  .menu-bars svg {
    color: #000 !important;
  }
}

.menu-bars {
  margin-left: 16px;
  font-size: 32px;
  background: none;
}

.nav-menu {
  display: none;
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  justify-content: center;

  &.active {
    display: flex;
  }

  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 16px;
    list-style: none;
    height: 60px;

    a {
      text-decoration: none;
      color: #f5f5ff;
      font-size: 18px;
      width: 95%;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 16px;
      border-radius: 4px;

      &:hover {
        background-color: #1a83ff;
      }

      span {
        margin-left: 16px;
      }
    }
  }

  .nav-menu-items {
    width: 100%;
  }

  .navbar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
}